:host {
    width: 100%;
    height: 100%;
}

.monitoring {
    width: 100%;
    height: 100%;

    &__charts {
        display: flex;
        gap: 36px;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 36px;
    }
}
